In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

df = pd.read_csv(r'moviereviews2.tsv',sep='\t')
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [3]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [36]:
df = df.dropna()
df

     label                                             review
0      pos  I loved this movie and will watch it again. Or...
1      pos  A warm, touching movie that has a fantasy-like...
2      pos  I was not expecting the powerful filmmaking ex...
3      neg  This so-called "documentary" tries to tell tha...
4      pos  This show has been my escape from reality for ...
...    ...                                                ...
5995   pos  Of the three remakes of this plot, I like them...
5996   neg  Poor Whoopi Goldberg. Imagine her at a friend'...
5997   neg  Honestly before I watched this movie, I had he...
5998   pos  This movie is essentially shot on a hand held ...
5999   pos  It has singing. It has drama. It has comedy. I...

[5980 rows x 2 columns]

In [37]:
df.shape

(5980, 2)

In [38]:
blanks = []
for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

print(len(blanks))

0

In [39]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

In [40]:
X = df['review']
y=df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [41]:
pipe_model = Pipeline([('Tfidf',TfidfVectorizer()),('clf',LinearSVC())])
pipe_model.fit(X_train,y_train)

Pipeline(steps=[('Tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [42]:
predictions = pipe_model.predict(X_test)

In [43]:
print(confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [44]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.93      0.91      0.92       991
         pos       0.91      0.94      0.92       983

    accuracy                           0.92      1974
   macro avg       0.92      0.92      0.92      1974
weighted avg       0.92      0.92      0.92      1974

In [46]:
print(accuracy_score(y_test,predictions))

0.9219858156028369